<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="custom.css">

</head>
<body>
    <div class="w3-container" style="padding: 6px;" id="app">
        <div class="w3-row">
            <div class="w3-col s12 m12 l12" style="margin-bottom: 0.5rem;">
                <button
                    v-if="queue.length === 0 && current === null"
                    @click="newItem"
                    style="display: flex; align-items: center; justify-content: center; width: 100%;"
                    class="primary">
                    <span class="material-icons">add</span> Novo Card
                </button>
            </div>

            <item
                class="w3-col s12 m12 l12"
                v-for="(item, i) in items"
                :key="i"
                v-model="items[i]"
                :time="~~time+1"
                @delete="items.splice(i, 1)"
                @saved="save"
                @change="stateChange(arguments[0], i)"></item>
        </div>
    </div>

    <script src="./vue.min.js"></script>
    <script>
        let ch = new BroadcastChannel('card_display_obs');

        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });

        Vue.component('item', {
            template: `<div class="list-tile w3-row">
                <input @change="c_fileSelect" type="file" style="display: none;" ref="fp" />

                <div class="list-tile-leading w3-col" :style="val.image ? 'background-image: url(' + val.image + ');' : 'background-image: url(placeholder.png);' + 'padding: 8px;'">
                    <button @click="pickFile" v-if="editing && !val.image"><i class="material-icons">edit</i></button>
                    <button @click="val.image = null" v-if="editing && val.image"><i class="material-icons">close</i></button>
                </div>
                
                <div class="w3-col s6 m7 l8">
                    <div class="w3-row">
                        <div class="w3-col s12 m12 l12">
                            <span v-if="!editing">{{ val.title }}</span>
                            <input v-if="editing" type="text" placeholder="Nome" v-model="val.title" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="w3-row">
                        <span v-if="!editing" class="w3-col s12 m12 l12">{{ val.subtitle }}<br>{{ val.caption }} ({{ val.duration }}s)</span>

                        <div v-if="editing" class="w3-col s12 m12 l12">
                            <div class="w3-row">
                                <input class="w3-col s12 m6 l6" type="text" placeholder="Instagram" v-model="val.subtitle" />
                                <input class="w3-col s12 m6 l6" type="text" placeholder="PIX" v-model="val.caption" />
                            </div>
                            <div class="w3-row">
                                <label class="w3-col s12 m6 l6">
                                    <span>Duração (segundos)</span>
                                    <input type="number" min="5" max="120" v-model="val.duration"/>
                                </label>
                                <div class="w3-col s12 m6 l6"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="w3-col s2 m2 l2 list-tile-trailing">
                    <span v-if="!editing && val.state === 'P'" class="chip" style="margin-right: 6px;">
                        <span class="material-icons spin">sync</span> {{ time }}s
                    </span>
                    <button
                        v-if="!editing && val.state === 'Q'"
                        style="margin-right: 6px;"
                        disabled>
                        <i class="material-icons">pending</i>
                    </button>

                    <button
                        v-if="!editing && val.state === 'I'"
                        @click="val.state = 'Q'; $emit('change', val);"
                        class="primary"
                        style="margin-right: 6px;">
                        <i class="material-icons">play_arrow</i>
                    </button>

                    <button
                        v-if="!editing && (val.state === 'P' || val.state === 'Q')"
                        @click="val.state = 'S'; $emit('change', val);"
                        class="secondary">
                        <i class="material-icons" v-if="val.state === 'P'">stop</i>
                        <i class="material-icons" v-if="val.state === 'Q'">block</i>
                    </button>

                    <button
                        v-if="!editing && val.state !== 'P' && val.state !== 'Q'"
                        @click="editing = true"
                        style="margin-right: 6px;">
                        <i class="material-icons">edit</i>
                    </button>

                    <div style="display: flex; flex-direction: column;">
                        <button
                            v-if="editing"
                            @click="editing = false; $emit('saved');"
                            class="primary">
                            <i class="material-icons">save</i> Salvar
                        </button>
                        <button
                            v-if="editing"
                            @click="editing = false;"
                            class="secondary">
                            <i class="material-icons">close</i> Cancelar
                        </button>
                    </div>

                    <button
                        @click="$emit('delete'); $emit('saved');"
                        v-if="!editing && val.state !== 'P' && val.state !== 'Q'"
                        class="secondary">
                        <i class="material-icons">close</i>
                    </button>
                </div>
            </div>`,
            props: [ 'value', 'time' ],
            data() {
                return {
                    editing: false,
                    val: {
                        ...this.value,
                    }
                };
            },
            watch: {
                val: {
                    deep: true,
                    handler(value) {
                        this.$emit('input', value);
                    }
                }
            },
            methods: {
                change() {
                    this.$emit('input', this.val);
                },
                pickFile() {
                    let fp = this.$refs.fp;
                    fp.click();
                },
                async c_fileSelect(e) {
                    let fp = e.target;
                    if (!fp.files[0]) return;
                    this.val.image = await toBase64(fp.files[0]);
                }
            }
        });

        let app = new Vue({
            el: '#app',
            data: {
                items: [],
                queue: [],
                time: 0,
                current: null,

                canAdvance: true,
            },
            mounted() {
                this.loop();
                this.items = JSON.parse(localStorage.getItem('obs_lt_items') || '[]');

                newItem();
            },
            methods: {
                save() {
                    localStorage.setItem('obs_lt_items', JSON.stringify(this.items));
                },
                newItem() {
                    this.items.unshift({
                        title: 'Nome',
                        subtitle: 'Instagram',
                        caption: 'PIX',
                        duration: 5,
                        state: 'I',
                        image: null
                    });
                },
                stateChange(data, index) {
                    if (data.state === 'Q') {
                        this.queue.push(index);
                    } else if (data.state === 'I') {
                        if (this.queue.includes(index)) {
                            this.queue.splice(this.queue.indexOf(index), 1);
                        }
                    } else if (data.state === 'S') {
                        if (this.queue.includes(index)) {
                            this.queue.splice(this.queue.indexOf(index), 1);
                        }

                        if (this.current === index) {
                            console.log('Stopped ' + this.current);
                            this.items[this.current].state = 'I';

                            // Send message
                            let msg = {
                                type: 'hide',
                            };
                            ch.postMessage(JSON.stringify(msg));

                            this.current = null;
                            this.canAdvance = false;
                        } else {
                            this.items[index].state = 'I';
                        }
                    }
                    console.log(this.queue);
                },
                delete(i) {
                    this.items.splice(i, 1);
                },

                loop() {
                    if (this.current === null && this.queue.length > 0 && this.canAdvance) {
                        this.current = this.queue.shift();
                        if (this.current !== null) {
                            this.items[this.current].state = 'P';
                            this.time = this.items[this.current].duration;
                            console.log('Playing ' + this.current);

                            // Send message
                            let msg = {
                                type: 'show',
                                data: this.items[this.current]
                            };
                            ch.postMessage(JSON.stringify(msg));
                        }
                    } else if (this.current !== null) {
                        if (this.time > 0.0) {
                            this.time -= 1.0 / 60.0;
                        } else {
                            console.log('Stopped ' + this.current);
                            this.items[this.current].state = 'I';

                            // Send message
                            let msg = {
                                type: 'hide',
                            };
                            ch.postMessage(JSON.stringify(msg));

                            this.current = null;
                            this.canAdvance = false;
                        }
                    }

                    window.requestAnimationFrame(this.loop.bind(this));
                },
            }
        });
        
        ch.onmessage = (e) => {
            let data = JSON.parse(e.data);
            if (data.type === 'finished') {
                app.canAdvance = true;
            }
        };

    </script>
</body>
</html>