* {
    box-sizing: border-box;
}

.card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.card-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card-header {
    padding: 1.25rem;
    margin: 0;
    background-color: #333;
}

.card-content {
    padding: 0.4rem;
    margin: 0;
    background-color: #444;
}

.list-tile {
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    background-color: #444;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 750px;
}

.list-tile-leading {
    height: 80px;
    width: 90px;
    margin-right: 0.7rem;
    background-color: black;
    border-radius: 6px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list-tile-trailing {
    display: flex;
    flex-direction: row;
    margin-left: 0.7rem;
}

.list-tile .list-tile-title {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.list-tile .list-tile-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #ddd;
    display: flex;
    flex-direction: row;
}

.list-tile .list-tile-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 0.7rem;
    justify-content: flex-start;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 0;
    background-color: #222;
    border-radius: 64px;
    font-size: 16px !important;
}

.icon-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button .material-icons {
    font-size: 22px;
}

.icon-button-tiny {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #777;
    margin-left: 0.1rem;
}

.icon-button-tiny .material-icons {
    font-size: 17px;
}

@keyframes ani-reveal-card {
    0% {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes ani-show-image {
    0% {
        width: 0;
    }
    100% {
        width: 90px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear infinite;
    animation-direction: reverse;
}

.material-icons {
  font-size: 16px;
}

.lower-third-image.show {
    animation-name: ani-show-image;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-delay: 0.4s;
}

.lower-third-image.hide {
  animation-name: ani-show-image;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.lower-third-image-hodler.show {
  animation-name: ani-show-image;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}

.lower-third-image-hodler.hide {
  animation-name: ani-show-image;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.lower-third-content.show {
    animation-name: ani-reveal-card;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.lower-third-content.hide {
    animation-name: ani-reveal-card;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.lower-third {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;

    height: 100px;

    transition: opacity 0.3s;

    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.lower-third .lower-third-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.lower-third .lower-third-image-hodler {
  width: 90px;
  height: 90px;
  margin-right: 1.0rem;
  border-radius: 70px;
  overflow: hidden;
}

.lower-third .lower-third-content {
    background: white;
    color: black;
    padding: 1rem;
    padding-right: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;

    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    overflow: hidden;

    min-width: 360px;
}

.lower-third .lower-third-title {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.lower-third .lower-third-subtitle {
    font-size: 1.25rem;
    margin: 0;
}

.bottom-left {
    left: 5.5rem;
    bottom: 7rem;
}

/** UI */
body,
html {
  background: #252525;
  color: rgba(255, 255, 255, 0.7);
}
/** Buttons */
button,
input[type=button],
input[type=submit] {
  position: relative;
  background-color: #333;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  padding: 6px 12px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 300ms;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 4px 0;
}
button .material-icons,
input[type=button] .material-icons,
input[type=submit] .material-icons {
  font-size: 16px;
}
button:active,
input[type=button]:active,
input[type=submit]:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
}
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
  cursor: unset;
  background-color: transparent;
  color: #222;
  box-shadow: none;
  border-style: dashed;
}
button.primary:after,
input[type=button].primary:after,
input[type=submit].primary:after {
  content: ' ';
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: border-box;
  mix-blend-mode: color;
  background-color: #42f578;
}
button.secondary:after,
input[type=button].secondary:after,
input[type=submit].secondary:after {
  content: ' ';
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: border-box;
  mix-blend-mode: color;
  background-color: #fa4848;
}
/** Text Fields */
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=password],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=tel],
input[type=time] {
  position: relative;
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  padding: 6px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  margin: 4px 0;
  overflow: hidden;
  display: block;
  transition: box-shadow 400ms;
}
input[type=text]:disabled,
input[type=email]:disabled,
input[type=url]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=month]:disabled,
input[type=week]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled {
  cursor: unset;
  background-color: transparent;
  color: #222;
  box-shadow: none;
  border-style: dashed;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=tel]:focus,
input[type=time]:focus {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 3px rgba(255, 255, 255, 0.8);
}
input[type=text]:invalid,
input[type=email]:invalid,
input[type=url]:invalid,
input[type=number]:invalid,
input[type=password]:invalid,
input[type=date]:invalid,
input[type=datetime-local]:invalid,
input[type=month]:invalid,
input[type=week]:invalid,
input[type=tel]:invalid,
input[type=time]:invalid {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 5px rgba(255, 0, 0, 0.8);
}
input[type=color] {
  position: relative;
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  padding: 6px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  margin: 4px 0;
  overflow: hidden;
  display: block;
  transition: box-shadow 400ms;
  padding: 0;
}
input[type=color]:disabled {
  cursor: unset;
  background-color: transparent;
  color: #222;
  box-shadow: none;
  border-style: dashed;
}
input[type=color]:focus {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 3px rgba(255, 255, 255, 0.8);
}
input[type=color]:invalid {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 5px rgba(255, 0, 0, 0.8);
}
/** Range */
input[type=range] {
  -webkit-appearance: none;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #555;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #555;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #555;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  overflow: hidden;
  transition: box-shadow 400ms;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  overflow: hidden;
  transition: box-shadow 400ms;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 3px rgba(255, 255, 255, 0.8);
}
input[type=range]::-moz-range-track {
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  overflow: hidden;
  transition: box-shadow 400ms;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  background-color: #2f2f2f;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  overflow: hidden;
  transition: box-shadow 400ms;
}
